* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fine general */

.general-padding {
    padding: 1em 2em;
}

header {
    background-color: orange;
    color: white;
    margin-bottom: 50px;
}

.flex {
    display: flex;
}

.center-spbetween {
    justify-content: space-between;
    align-items: center;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.box-twentyfive {
    width: 25%
}

.box-fifthy {
    width: 50%
}

#boolean-logo {
    max-width: 50%;
    max-height: 50%;
}

.wrap {
    flex-wrap: wrap;
}

.card {
    width: calc(33% - 20px);
    margin-bottom: 20px;
    position: relative;
}

.img-card {
    width: 100%;
}


.description-product {
    list-style-type: none;
    padding-left: 0;
}

.figure-box {
    position: relative;
}

.liked-product {
    padding: 8px 10px;
    font-size: 20px;
    position: absolute;
    top: 2%;
    right: 0;
    background-color: white;
    text-align: center;
}

.discount-percent {
    position: absolute;
    bottom: 5%;
    left: 5%;
    padding: 2px 5px;
    background-color: crimson;
    color: white;
    margin-right: 1%;
}

.sustainability {
    position: absolute;
    bottom: 5%;
    left: 20%;
    padding: 2px 5px;
    background-color: green;
    color: white;
}